@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
*::selection{
    background:#cdc6cc;
    color:rgb(255, 255, 255);
  }
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);
    border-radius: 20px;
}

.menu .box-container .box img{
    height: 10rem;
}


.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:rgb(246, 235, 176);
    border-radius: 20px;
}

.menu .box-container .box:hover > *{
    color:var(--black);

}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.products .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#fff;
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    background:var(--main-color);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}

.blogs .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Urbanist', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

p {
  color: grey;
  line-height: 25px;
}

/*-----------head---------*/
.head {
  position: relative;
  z-index: 10;
  color: white;
}

.head .content {
  padding: 30px;
}

.head span {
  opacity: 0.7;
  margin-top: 15px;
}

.head hr {
  width: 30px;
  height: 1px;
  margin: 20px 0 0 20px;
  background: white;
  opacity: 0.7;
}

.social_media i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #4D8B55;
  border: 2px solid #4D8B55;
  border-radius: 50%;
  margin-left: 20px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.5s;
}

.social_media i:hover {
  border: 2px solid #fff;
  color: white;
}

/*-----------head---------*/
/*-----------header---------*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background: #4D8B55;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  margin: 20px;
  display: block;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 13px;
  right: 32px;
  font-size: 38px;
  margin-left: 50px;
  color: white;
  cursor: pointer;
}

.sidenav a:hover {
  color: #C0212A;
}

.menu_items {
  margin-top: 20px;
}

.hamburger-icon {
  position: absolute;
  z-index: 1000;
  right: 14%;
  top: 30px;
  cursor: pointer;
  display: inherit;
}

/*-----------header---------*/
/*-----------home---------*/
.home img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.home .heading {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-top: 5%;
}

.heading h1 {
  font-size: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 120px;
}

.heading h1 span {
  color: #4D8B55;
}

.heading p {
  color: white;
  line-height: 30px;
  font-size: 18px;
  opacity: 0.7;
}

button {
  padding: 25px 80px;
  background: #4D8B55;
  border: none;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  margin-top: 20px;
  transition: 0.5s;
  cursor: pointer;
}

button:hover {
  background: white;
  color: #4D8B55;
}

/*-----------home---------*/
/*-----------menu---------*/
.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.container {
  max-width: 90%;
  margin: auto;
}

.heading h2 {
  font-size: 50px;
  margin-top: 15px;
}

.heading h5 {
  color: #4D8B55;
  font-size: 18px;
}

.menu {
  text-align: center;
}

.menu h3 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*-----------menu---------*/
/*-----------wrapper---------*/
.heading2 h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 80px;
  color: white;
}

.left, .right {
  width: 50%;
  margin: 20px;
}

.wrapper {
  color: white;
  background-image: url("../image/w1.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .left,
.wrapper .right {
  padding-top: 10%;
}

.wrapper .right img {
  float: right;
}

.wrapper .text {
  margin-top: 30px;
  margin-bottom: 50px;
}

.wrapper i {
  font-size: 40px;
  margin-right: 20px;
}

.wrapper .btn1 {
  margin-left: 20px;
}

.btn1 {
  background: black;
  color: white;
  transition: 0.5s;
}

.btn1:hover {
  background: white;
  color: black;
}

/*-----------wrapper---------*/
/*-----------list---------*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.list {
  background: #4D8B55;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 30px;
}

.list p {
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

.list .box {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  margin-top: 50px;
}

.list .box:nth-child(3),
.list .box:nth-child(6) {
  border: none;
}

/*-----------list---------*/
/*-----------menu_list---------*/
.menu_list .heading {
  text-align: center;
}

.menu_list .box {
  margin-top: 20px;
}

.menu_list img {
  width: 100px;
  height: 100px;
}

.menu_list .text {
  margin-top: 25px;
}

.menu_list p {
  margin-top: 5px;
}

.menu_list hr {
  width: 40%;
  height: 2px;
  margin-top: 5%;
  border-top: 2px dotted grey;
}

.menu_list .price h5 {
  margin-top: 20px;
}

/*-----------menu_list---------*/
/*-----------opentime---------*/
.opentime {
  height: 120vh;
}

.opentime .left,
.opentime .right {
  margin: 0;
}

.opentime .heading {
  position: relative;
}

.opentime .right h1 {
  font-size: 50px;
  line-height: 50px;
  color: white;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 5%;
}

.opentime .left {
  position: relative;
}

.opentime img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.opentime .left::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.opentime .left .heading {
  position: absolute;
  top: 30%;
  padding: 0px;
  text-align: center;
}

.opentime .left .heading h1 {
  color: white;
  font-size: 80px;
}

.opentime .box {
  height: 60vh;
}

.opentime .box1,
.opentime .box2 {
  position: relative;
}

.opentime .box2 {
  background: #4D8B55;
  z-index: -1;
}

.opentime .time {
  max-width: 50%;
  margin: auto;
}

.opentime .time .day {
  margin-top: 20px;
}

.opentime .time h4 {
  font-size: 18px;
}

.opentime .time h5 {
  color: #4D8B55;
  font-size: 16px;
  font-weight: 800;
}

.opentime .time p {
  color: red;
  font-weight: 800;
}

.opentime .box2 h1 {
  font-size: 110px;
  line-height: 110px;
}

.opentime .box2 span {
  color: black;
}

/*-----------opentime---------*/
/*-----------product---------*/
.product {
  text-align: center;
  padding: 50px;
}

.product img {
  width: 100%;
  height: 100%;
}

.product .grid {
  grid-template-columns: repeat(4, 1fr);
}

.product .flex {
  justify-content: center;
  margin: 5px;
}

.product .flex i {
  margin: 5px;
  font-size: 12px;
  color: #f4c402;
}

.product h5,
.product h4 {
  font-weight: 800;
  font-size: 17px;
  margin: 5px;
}

.product h5 {
  color: #4D8B55;
}

/*-----------product---------*/
/*-----------customer---------*/
.customer {
  background-image: url("../image/w2.jpg");
}

.customer .container {
  max-width: 70%;
  margin: auto;
  text-align: center;
}

.customer .items {
  padding-top: 20%;
}

.customer i {
  font-size: 50px;
  color: #4D8B55;
}

.customer p {
  font-size: 22px;
  color: white;
  font-style: italic;
  line-height: 35px;
  margin: 30px;
  font-weight: 500;
}

.customer .img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
}

.customer img {
  border-radius: 50%;
  margin-top: 50px;
}

.customer h5 {
  color: #4D8B55;
  font-size: 18px;
  margin-top: 20px;
}

.owl-nav i {
  font-size: 50px;
  color: white;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
}

.owl-prev {
  left: -10%;
}

.owl-next {
  right: -10%;
}

/*-----------customer---------*/
/*-----------brand---------*/
.brand {
  background: #F2F1ED;
  padding-top: 50px;
  padding-bottom: 50px;
}

.brand .grid {
  grid-template-columns: repeat(5, 1fr);
}

.brand img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.brand img:hover {
  transform: scale(1.1);
}

/*-----------brand---------*/
/*-----------blog---------*/
.blog {
  text-align: center;
}

.blog .grid {
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
  text-align: left;
}

.blog .img {
  width: 100%;
  height: 240px;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}

.blog img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.blog img:hover {
  transform: scale(1.2);
}

.blog span {
  position: absolute;
  top: 0;
  left: 0;
  background: #4D8B55;
  color: white;
  margin: 20px;
  padding: 5px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
}

.blog .text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .text i {
  color: #4D8B55;
  margin-right: 10px;
}

.blog .text label {
  font-weight: bold;
  color: grey;
  margin-right: 20px;
  font-size: 12px;
}

.blog .text h2 {
  letter-spacing: 0;
  font-weight: 800;
  margin-top: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.blog .text:hover {
  color: #4D8B55;
}

/*-----------blog---------*/
/*-----------image---------*/
.image .grid {
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0;
}

.image .box {
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.image .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.image img:hover {
  transform: scale(1.2);
}

.image .icon i {
  width: 50px;
  height: 50px;
  background: #4D8B55;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 40%;
  left: 40%;
  opacity: 0;
}

.image .box:hover .icon i {
  opacity: 1;
}

/*-----------image---------*/
/*-----------footer---------*/
footer {
  background-image: url("../image/w2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  color: white;
}

.footerbg {
  background: rgba(0, 0, 0, 0.5);
}

footer .content {
  padding: 80px;
}

footer h3 {
  color: #4D8B55;
  font-size: 25px;
  font-weight: 800;
  border-bottom: 3px solid #4D8B55;
  margin-bottom: 50px;
}

footer p {
  margin-top: 20px;
  color: white;
  opacity: 0.7;
  margin-bottom: 30px;
}

footer .icon i {
  color: #4D8B55;
  margin-right: 30px;
}

footer .address .item {
  margin-bottom: 30px;
}

footer .address i {
  font-size: 25px;
  margin-right: 20px;
}

footer .address h5 {
  color: #4D8B55;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}

footer .input {
  background: white;
  border-radius: 50px;
  margin-bottom: 20px;
}

footer input {
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 20px;
}

footer .submit {
  background: #4D8B55;
  padding: 30px 60px;
  color: white;
  font-weight: 800;
  border-radius: 50px;
}

.legal {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.legal p {
  margin: 0;
  padding: 30px 0px 30px 80px;
}

/*-----------footer---------*/
@media only screen and (max-width:768px) {

  /*----------------head---------*/
  .opentime .left,
  .wrapper .right,
  .head .social_media {
    display: none
  }

  .heading h1 {
    font-size: 80px;
    line-height: 80px;
  }

  /*----------------head---------*/
  /*----------------menu---------*/
  .menu {
    margin-top: 50%;
  }

  /*----------------menu---------*/
  /*----------------wrapper---------*/
  .left, .right {
    width: 100%;
  }

  .opentime,
  .menu_list .content,
  .wrapper .container {
    flex-direction: column;
  }

  .wrapper {
    background-position: right;
  }

  /*----------------wrapper---------*/
  /*----------------list---------*/
  .image .grid,
  .blog .grid,
  .brand .grid,
  .product .grid,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .list .box {
    border: none;
  }

  /*----------------list---------*/
  /*----------------footer---------*/
  footer .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /*----------------footer---------*/
}
.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}
.contact .row .map{
    border-radius: 20px;
}
.inputBox{
    border-radius: 10px;
}












/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
